// Add option error
.add-todo-error {
    color: $off-white;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
}

.add-todo {
    display: flex; // margin-top: $m-size;
    // margin-bottom: $m-size;
}

.add-todo__input {
    background: $dark-blue;
    border: none;
    color: $off-white;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    flex-grow: 1;
    margin: $s-size $s-size $s-size $s-size;
    padding: $s-size;
}

// when the screen size less then 45rem, the included stuff would work
@media (max-width: $desktop-breakpoint) {
    .add-todo {
        flex-direction: column;
    }
    .add-todo__input {
        margin-bottom: $s-size;
    }
}